:root {
  --clr-orange: #F35B04;
  --clr-main-orange: #F18701;
  --clr-yellow: #F7B801;
  --clr-light-blue: #7678ED;
  --clr-dark-blue: #3D348B;
  --clr-white: #ffffff;
  --clr-white-op: rgba(255, 255, 255, 0.677);
  --clr-black: #000000;
  --clr-light-grey: #9B9B9B;
  --clr-dark-grey: #555555;
}


ul, ol, li {
  list-style-type: none;
}

/*buttons*/

.btn-main {
  background-color: var(--clr-main-orange);
  color: var(--clr-white);
  font-weight: 500;
  border-radius: 32px;
  border: none;
  max-width: 9rem;
  transition: .3s;

  &:hover {
      color: rgba(255, 255, 255, 0.699);
    }
  
  a {
    text-decoration: none;
    color: var(--clr-white);
    font-weight: 500;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.699);
    transition: .3s;
    text-decoration: none;
  }

  .btn-arrow-icon {
    max-width: 1.4rem;
  }
}

.btn-packages {
  background-color: var(--clr-main-orange);
  border: none;
  border-radius: 16px;
  max-width: 15rem;

  a {
    text-decoration: none;
    color: var(--clr-white);
    font-weight: 500;
    transition: .3s;
    }

    a:hover {
      color: rgba(255, 255, 255, 0.699);
      text-decoration: none;
    }

    .package-arrow-icon{
      max-width: 1.5rem;
    }
}

.btn-subscribe {
  padding: 1em;
  transition: .3s;

  &:hover {
    color: rgba(255, 255, 255, 0.699);
  }
}

.hero-btn {
  background-color: var(--clr-main-orange);
  color: var(--clr-white);
  font-weight: 500;
  border-radius: 32px;
  border: none;
  padding-inline: 2.5em;
  padding-block: .5em;
  border-radius: 32px;
  transition: .3s;

  &:hover {
      color: rgba(255, 255, 255, 0.699);
    }

  @media (width < 992px) {
    width: 100%;
  }
}

.btn-form {
  background-color: var(--clr-dark-blue);
  color: var(--clr-white);
  font-weight: 500;
  border-radius: 32px;
  border: none;
  padding-inline: 2.5em;
  padding-block: .5em;
  border-radius: 32px;
  transition: .3s;

  &:hover {
      color: rgba(255, 255, 255, 0.699);
    }
}

/*fonts*/

p {
  color: var(--clr-light-grey);
}

.hero-heading {
  font-size: 3.5rem;
  color: var(--clr-white);
  text-shadow: 1px 3px 2px var(--clr-light-grey);
}

.hero-text {
  color: var(--clr-white);
  text-shadow: 1px 3px 2px var(--clr-light-grey);
}
.slider-heading {
  background-color: #4241419f;
  max-width: 25rem;
}

.slider-text {
  background-color: #4241419f;
  color: var(--clr-white);
  max-width: 25rem;
}

.secondary-heading {
  font-size: 3.5rem;
  color: var(--clr-white);
  text-shadow: 1px 3px 2px var(--clr-light-grey);
}

.secondary-text {
    color: var(--clr-white);
    text-shadow: 1px 2px 2px var(--clr-light-grey);
    font-weight: bold;
}

.card-title {
  text-align: center;
}

.subscribe-heading {
  font-size: 2.5rem;
  color: var(--clr-white);
}

.subscribe-text {
  color: var(--clr-white);
  font-weight: 500;
  max-width: 60ch;
}

.copyright-text {
  color: var(--clr-white);
  font-weight: 400;
}

.contact-heading{
  font-size: 3.75rem;
  color: var(--clr-dark-blue);
  font-weight: 500;
}

/*images and icons*/

img { 
  width: 100%;
  display: block;
}

.cart {
  max-width: 3.5rem;
}

.prick{
  max-width: 1rem;
  max-height: 1rem;
}

.arrow-icon {
  max-width: .5rem;
}

.slide-img {
  max-width: 45rem;
  max-height: 25rem;

  /*had to set definite height on desktop to stop the carousel from hopping to much, add fix to want*/
  @media (width > 768px) {
    width: 40rem;
    height: 25rem;
  }
}

.contact-icon {
  max-width: 1.25rem;
}

.social-icon {
  max-width: 1.4rem;
  cursor: pointer;
  transition: .4s;

  &:hover {
    scale: 1.2;
  }
}

.hero-about {
  background-image: url(assets/images/about-image.jpg);
  height: 80vh;
}

.value-img {
  max-width: 20%;
}

.footer-logo {
  max-width: 15rem;
  cursor: pointer;
}

.qutation-img {
  max-width: 5rem;
}

.founder-img{
  max-width: 35rem;
  height: 100%;
  width: 100%;
}

/*navbar*/

#navigation {
  background-color: var(--clr-main-orange);
  padding-inline: 2rem;

  @media (width < 576px) {
    padding-inline: .5rem;
  }
}

.nav-logo {
  max-width: 15rem;

  @media (width < 576px) {
    max-width: 8rem;
  }
}

.nav-link {
  color: var(--clr-white)!important;

  &:hover {
    color: var(--clr-white-op)!important;
  }
}

.navbar-nav {
  gap: 3rem;

  @media (width < 576px) {
    gap: 0.4rem;
  }
}

/*hero banner*/

.hero-banner {
  background: url(assets/images/hero.png) no-repeat center center;
  height: 80vh;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: cover;
  padding: 2rem;

  @media (width > 576px) {
    padding-left: 6rem;
  }
}

.hero-text {
  max-width: 50ch;
}

.about-heading {
  position: absolute;
  text-shadow: 2px 3px 4px var(--clr-dark-grey);
}

 .search-destinations {
  background-color: var(--clr-white);
  border-radius: 32px;
  padding: .4em;
  width: 55vw;
  color: var(--clr-light-grey);

  a{
    text-decoration: none;
    color: var(--clr-dark-grey);
    transition: .3s;
  }
  
  a:hover {
    text-decoration: none;
    color: var(--clr-light-grey);
  }

  li {
    @media (width < 992px) {
      flex: 40%;
      padding: .5rem;
      background-color: #ffffffd3;
      border-radius: 8px;
      margin: .2rem;
      justify-content: space-between;
    }
  }

  li:nth-last-child(1) {
    @media (width < 992px) {
      background-color: transparent;
      padding-left: 0;
    }
  }

  @media (width < 992px) {
    flex-wrap: wrap;
    background-color: transparent;
    border-radius: 8px;
    width: 80vw;
    padding: 0;
  }
} 

/*secondary banner*/

.secondary-banner {
  background: url(assets/images/services.png)no-repeat center center;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: cover;

  .secondary-icon {
    max-width: 5rem;
  }
}

/*service cards*/

.usp {
  background-color: var(--clr-white);
  width: 90vw;
  border-radius: 16px;
  padding: .4rem;

  @media (width > 768px) {
    padding: 1rem;
    flex-direction: column;
    gap: 2rem;
  }
}

.usp-cards{
  @media (width > 768px) {
    justify-content: space-evenly;
    height: 25rem;
  }
}

/*articles*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex: 1;
}

/*subscribe*/

.subscribe {
  background: linear-gradient(var(--clr-main-orange), var(--clr-orange));
  height: 50vh;
}

.subscribe-wrap {
  background: var(--clr-white);
  padding: .3em;
}

input {
  border: none;

  &::placeholder {
    color: var(--clr-light-grey);;
  }
}

input:focus {
  outline: none;
}

.subscribe-wrap:focus-within {
  outline: 1px solid var(--clr-dark-grey);
}

/*footer*/

footer {
  color: var(--clr-dark-blue);

  a {
    color: var(--clr-dark-blue);
  }
}

.footer-wrapper {
  @media (width > 576px) {
    justify-content: space-between;
  }

  a {
    transition: .3s;
    text-decoration: none;
  }

  a:hover {
    color: var(--clr-light-blue);
    text-decoration: none;
  }
}

.copyright {
  height: 10vh;
  background-color: var(--clr-dark-blue);
}

/* CARDS */

.values-wrapper {
  margin: 3rem 4rem;
  .card {
    border: none;
    font-size: 16px;
  }
  .card-title {
    font-size: 30px;
    font-weight: 600;
  }
  @media (width > 768px) {
    margin: 7rem 4rem;
  }
}



/* Packages page */
.packages-hero {
  background: url(assets/images/packages.png) no-repeat center center;
  height: 80vh;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: cover;
  
}

.filter {
  max-width: 2rem;
}

.destination-header__title {
  max-width: 500px;
}

.packages-cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding-inline: 2rem;
  max-width: 100%;

  @media (width < 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (width < 576px) {
    grid-template-columns: 1fr;
  }
}

.travel-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  overflow: hidden;

  .travel-img {
    width: 100%;
  }
}

.stars>img {
  width: 21px;
  height: 21px;
}

.add {
  background: none;
  border: none;
}
.add>svg {
  width: 44px;
  height: 41px;
}

.more-btn {
  margin-block: 3rem;
}

/* Lightbox */
.lightbox {
  display: none;
  
}
.lightbox-btn {
  position: absolute;
}

.room-cards__icon {
  width: 1.2rem;
  max-height: 1.2rem;
}

/* ABOUT SIDA */
.faq-wrapper {
  background: var(--clr-main-orange);
  background: linear-gradient(0deg, rgba(243,91,4,1) 0%, rgba(241,135,1,1) 75%);
  padding-block: 3rem;
}

/* Accordion */
.faq-header {
  h2 {
    font-weight: 600;
  }
  margin-inline: 5rem;
  @media (width > 768px) {
    margin-inline: 15rem;
  }
}

.accordion-faq {
  margin-inline: 3rem;
  @media (width > 768px) {
    margin-inline: 10rem;
  }
}

.form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem;

  textarea {
    border: none;
    outline: none;
    height: 8em;
    width: 100%;
    resize: vertical;
    overflow: auto;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0;
  }
}
